.yellow, .gray {
	margin: 10px;
	padding:10px;
	display: inline; /* block viene con margen por defecto*/
}

.yellow {
	background-color: #FEA409; 
}

.gray {
	background-color: #5B5E5F;
	color: #FFF;
}